@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<br />
<partial name="_Notification" />
<a class="btn btn-light" asp-controller="Product" asp-action="Upsert"> Create</a>
<br /><br />
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr class="table-info">
            <th>
                Product Code
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Available Quantity
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Sub-Category
            </th>
            <th>

            </th>
        </tr>
    </thead>
</table>

@section Scripts{ 
<script src="~/js/product.js"></script>
}
